
/.idea
*.egg-info
*.pot
*.py[co]
__pycache__/
MANIFEST
dist/
docs/_build/
docs/locale/
tests/coverage_html/
tests/.coverage
build/
tests/report/
uploaded_files/

study/migrations
basic_board/migrations
homework/migrations
nanum/migrations
schedule/migrations
reference/migrations
accounts/migrations
verification/migrations

